name: Humble - Debian Semi-Binary Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - humble
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/humble-debian-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_controllers.humble.repos'
      - '**.xml'
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 1 * * *'

concurrency:
  # cancel previous runs of the same workflow, except for pushes on humble branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, '/refs/heads') }}

jobs:
  debian_semi_binary_build:
    name: Humble debian build
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-debian-build.yml@master
    with:
      ros_distro: humble
      upstream_workspace: ros2_controllers.humble.repos
      ref_for_scheduled_build: humble
      skip_packages: rqt_joint_trajectory_controller
