name: Jazzy Semi-Binary Build
# description: 'Build & test that compiles the main dependencies from source.'

on:
  workflow_dispatch:
  pull_request: &event
    branches:
      - jazzy
      - '*feature*'
      - '*feature/**'
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/jazzy-semi-binary-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_controllers.jazzy.repos'
      - '**.xml'
  push: *event
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '33 1 * * MON-FRI'

concurrency:
  # cancel previous runs of the same workflow, except for pushes on given branches
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/heads') }}

jobs:
  semi_binary:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-industrial-ci-with-cache.yml@master
    with:
      ros_distro: jazzy
      ros_repo: testing
      upstream_workspace: ros2_controllers.jazzy.repos
      ref_for_scheduled_build: jazzy
  semi_binary_clang:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-industrial-ci-with-cache.yml@master
    with:
      ros_distro: jazzy
      ros_repo: testing
      upstream_workspace: ros2_controllers.jazzy.repos
      ref_for_scheduled_build: jazzy
      additional_debs: clang
      c_compiler: clang
      cxx_compiler: clang++
      not_test_build: true
