name: Coverage Build - Rolling
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/rolling-coverage-build.yml'
      - 'codecov.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_controllers.rolling.repos'
  pull_request:
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/rolling-coverage-build.yml'
      - 'codecov.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'ros2_controllers.rolling.repos'

jobs:
  coverage_rolling:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-build-coverage.yml@master
    secrets: inherit
    with:
      ros_distro: rolling
